.form form {
    background-color: #1a75bc;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    display: flex;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.form form div {
    display: flex;
    flex-direction: column;
}

.adopt {
    display: flex;
    margin: 50px 0;
    flex-wrap: wrap;
    justify-content: center;
}