* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial;
    font-size: 14px;
  }
  
  nav {
    background-color: #1a75bc;
    height: 80px;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }