

body {
    background-color: #fed201;
    margin: 20px auto;
    width: 90%;

    color: #000;
}


.App {
    display: flex;
    margin: 50px 0;
    flex-wrap: wrap;
    justify-content: center;
}



